<div class="container">
	<p>&nbsp;</p>
	<div class="jumbotron">
		<h3>Nuestra Mision.</h3>
		<p>Conectar clientes y companias y hacer la busqueda mas facil.</p>		
	</div>
</div>
<div style="background-color: #eee">
	<div class="container">
		<div class="jumbotron">
			<h3>Nuestra Vision.</h3>
			<p>Queremos crear la mejor busqueda de todo relacionado con la industria troquera. Por los momentos, comensaremos
				con un solo servicio. Luego, esperamos expendadernos a otros sectores de anuncios como busqueda de mecanicos, soldares, llanterors, y todo lo relacionado con tu industria.</p>
		</div>
	</div>
</div>