<style>
    .a-link-white-text a:link {color:#fff}
    .a-link-white-text a:visited {color:#fff}
</style>  
<div class="container">
    <div class="text-center jumbotron">
        <h1>Advertise with us today.</h1>
        <p>
            Start your success to more business.
        </p>     
        
        <p>&nbsp;</p>   
    </div>
</div>
<!--otra razon-->

<div style="background-color:#F7F7F7;">
    <div class="container"> 
        <div class="marketing text-center">            
            <div class="row">                
                <h2>How does it work?</h2>
                <p>&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="the-circle">1</div>
                    <h3>Send us a few details</h3>
                    <p>Descripción de servicios, fotos, y otros detalles de tu negocio.</p>
                </div>
                <div class="col-md-4">
                    <div class="the-circle">2</div>
                    <h3>We assemble the ad</h3>
                    <p>Toda tu información es organizada por nosotros. Nos aseguramos que sea presentable.</p>
                </div>
                <div class="col-md-4">
                    <div class="the-circle">3</div>
                    <h3>Review and Post it</h3>
                    <p>Cuando estés contento con tu anuncio, aprueba y subelo para que todos lo vean.</p>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
<!-- cuarta razon -->
<div style="background-color:#0096FF;">
    <div class="container">
        <div class="row marketing text-center">
            <div class="a-link-white-text" style="color:#fff">
                <p>&nbsp;</p>
                <h2>And best of all, prices that are within your reach!</h2>
                <a href='#/account/create' id="notify-btn" class="btn btn-lg btn-warning" style="padding: 20px; font-size: 20px; background-color: #FF9907;">
                    Start my first Free Add
                </a>
                <p>&nbsp;</p>                
            </div>                
        </div>

        <p>&nbsp;</p>        
    </div>
</div>
