<style type="text/css">
    .main-container a:link, a:visited {
        color: #0096FF;
        text-decoration: none;
    }
    .el-contenedor { margin-left:auto; margin-right:auto; width:450px }
    .la-forma-contenedor {
        width: 100%;
        padding: 20px;
        border: 1px solid rgb(232, 232, 232);
        margin-top: 30px;
        box-shadow: 0px 1px 2px 0px #c5c5c5;
        background-color: #FCFCFC;
    }
    .label {
        font-weight: 600;
        color: #737373;
        font-size: 16px;
    }
    .form-control { width: 100%; height: 50px }
</style>
<div class="el-contenedor">
<h3>Compania Perfil</h3>
<div class="la-forma-contenedor">
	
	<div style="text-align: left">
		<form class="form">
			<p>
				<label for="company-name">Company Name</label>
				<input type="text" class="form-control" >
			</p>

			<p>
				<label for="company-location">Location</label>
				<input type="text" class="form-control" placeholder="Street" >
			</p>

			<p>
				<label for="company-city">Location</label>
				<input type="text" class="form-control" placeholder="City" >
			</p>

			<p>
				<label for="company-state">State</label>
				<input type="text" class="form-control" placeholder="State" >
			</p>

			<p>
				<label for="company-Zipcode">Zipcode</label>
				<input type="text" class="form-control" placeholder="Zip Code" >
			</p>

			<p>
				<label for="company-phone">Main contact number</label>
				<input type="text" class="form-control" placeholder="Phone number" >
			<p>

			<p>
				<label for="company-about">Acerca de tu compania</label>
				<textarea class="form-control" rows="8" placeholder="Descripcion de los servicios que das y porque" ></textarea>
			</p>

			<p class="text-right">
				<button class="btn btn-primary">Siguiente</button>
			</p>

		</form>
	</div>
</div>
