<div class="container">
	<div class="col-md-3">
        <p>&nbsp;</p>
        <p class="font-text-bold">Categorias</p>
        <p><a href="clasificados.aspx?catid=1">Trabajos</a> </p>
        <p><a href="clasificados.aspx?catid=2">Trucks for Sale</a> </p>
        <p><a href="clasificados.aspx?catid=3">Trailers and Containers</a> </p>
        <p><a href="clasificados.aspx?catid=4" title="Encuentra mechanicos">Mechanics</a> </p>
        <p><a href="clasificados.aspx?catid=5" title="Find welders">Maintanance</a> </p>
        <p><a href="clasificados.aspx?catid=6">Electricians</a> </p>
        <p><a href="clasificados.aspx?catid=7">General Services</a> </p>               
        <p class="border-bottom"></p>
    </div>
    <div class="col-md-9 container-data-list-parts">
    	
		<p class="margin-top">Home » Category » Sub category</p>
		<h2 style="color: #5C5F62">Looking for truck drivers (excellent pay)</h2>
	</div>
</div>