<style>
    .a-link-white-text a:link {color:#fff}
    .a-link-white-text a:visited {color:#fff}
</style>  
<div class="container">
    <div class="text-center jumbotron">
        <h1>Muy pronto, plataforma dedicada a la industria de troqueros.</h1>
        <p>
            343Trucking esta trabajando muy duro en cambiar la manera de como te anuncias.
        </p>     
        <a href='#/precios' id="notify-btn" class="btn btn-lg btn-danger" style="color:#fff">Comiensa mi primer Gratis</a>
        <p>&nbsp;</p>   
    </div>
</div>


<!-- Reason number 1 -->
<div style="background-color:#F7F7F7;">
    <div class="container">        
        <div class="marketing">            
            <div class="row">                
                <div class="col-md-6">
                    <h2>Nuestra visión</h2>
                    <p>
                        Comprendemos que tu tiempo es más valioso en tu negocio. Y entendemos que se necesita mucho conocimiento para hacer crecer un negocio. Es por eso, que estamos trabajando duro de crear herramientas fáciles de mercadotecnia.
                    </p>
                                        
                </div>
                <div class="col-md-6">
                    <img src="http://nead23.com/Images/more-than-a-developer.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<div>
    <div class="container">
        <div class="marketing">            
            <div class="row">   
                <div class="col-md-4">
                    <img src="http://nead23.com/Images/responsive.png" style="max-width:100%" alt="">
                </div>             
                <div class="col-md-8">
                    <h2>Como alcanzáremos la meta?</h2>
                    <p>
                       Con accesso a nuestras plataformas Web y Mobile.
                       Nuestras aplicacion te ayudan a mantenerte
                       conectado con tus clientes. Con ellas, podras crear cupones de descuento o ofertas, reciber y mandar estatus
                       de servicio en progreso a tus clientes, entre otras opciones.
                    </p>                    
                </div>                
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>

<!-- Tercera razon -->   
<!--otra razon-->
<div>
    <div style="background-color:#C5C5C5;">&nbsp;</div>
    <p>&nbsp;</p>
    <div class="container"> 
        <div class="marketing text-center">            
            <div class="row">                
                <h2>Como funcionara?</h2>
                <p>&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="the-circle">1</div>
                    <h3>Evianos unos cuantos detalles</h3>
                    <p>Descripción de servicios, fotos, y otros detalles de tu negocio.</p>
                </div>
                <div class="col-md-4">
                    <div class="the-circle">2</div>
                    <h3>Lo ponemos todo junto</h3>
                    <p>Toda tu información es organizada por nosotros. Nos aseguramos que sea presentable.</p>
                </div>
                <div class="col-md-4">
                    <div class="the-circle">3</div>
                    <h3>Revisa y anúnciate</h3>
                    <p>Cuando estés contento con tu anuncio, aprueba y nosotros lo subimos para que todos lo vean.</p>
                </div>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>
<p>&nbsp;</p>

<!-- cuarta razon -->
<div style="background-color:#0096FF;">
    <div class="container">
        <div class="row marketing text-center">
            <div class="a-link-white-text" style="color:#fff">
                <p>&nbsp;</p>
                <h2>Y lo mejor de todo,<br> precios que estarán a tu alcance</h2>
                <a href='#/precios' id="notify-btn" class="btn btn-lg btn-danger">Comiensa mi primer Gratis</a>
                <p>&nbsp;</p>                
            </div>                
        </div>

        <p>&nbsp;</p>        
    </div>
</div>

<p>&nbsp;</p>
<div class="container">
    <div class="row">
        
    </div>
    
</div>
<script>

</script>