<style type="text/css">
        
    .el-contenedor {
        margin-left: auto;
        margin-right: auto;
        width: 450px
    }
    .la-forma-contenedor {
        width: 100%;
        padding: 20px;
        border: 1px solid rgb(232, 232, 232);
        margin-top: 30px;
        box-shadow: 0px 1px 2px 0px #c5c5c5;
        background-color: #FCFCFC;
    }
   
</style>
<div class="el-contenedor text-center">
    
    <div class="la-forma-contenedor">
        <p>{{message}}</p>
        
        <h2>Don't forget to use our mobile app.</h2>
        
        <p><a href="#/">Return home</a> or <a href="#/account/login">Login</a> again.</p>
        
    </div>
    
</div>