<div class="header-wrapper">
<div class="container">
        <section id="message">
            <h1>Find Jobs the easy way</h1>
            <p>Search. Read. Apply. It's that easy.
            </p>
            <p>&nbsp;</p>
        </section>
        <section id="search-container">
            <h2>Start your search now</h2>
            
            
            <input type="text" class="form-control pull-left" ng-model="model.search" placeholder="Enter your search here" autofocus="true">
                
            <a href="#/results/{{model.search}}"  class="btn btn-default btn-danger pull-left" style="margin-left:10px; color:white">
                Search
            </a>
           
            <p class="clear"></p>

            <p>&nbsp;</p>
            <ul class="navigation-classified font-size-small">
                <li style="margin-left:0px"><a href="#/trabajos">Jobs</a></li>
                <li>Shops</li>                  
                <li>For sale</li>
                <li>Towing Services</li>
                <li>Insurance</li>
                <li>See more</li>
            </ul>
        </section>
    </div>
</div>