 <style>
    .btn-warning {
        background-color: #ed9c28;
        border-color: #d58512;
    }
    .btn-warning:hover {
        background-color: #F9A52D;
        border-color: #d58512;
    }
    .col-md-4 { padding:0px }
    .col-md-4 p {
      margin: 0 0 0px;
    }
    .disclaimers li, .perks li {
        padding:5px
    }
</style>
 <div class="container">
        <div class="text-center jumbotron">
            <h2>Comiensa tus 30-dias gratis.</h2>
            <p>
                No contrato requerido. Cancela o cambia de plan cuando quieras.
            </p>
            
        </div>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4">
                <p>&nbsp;</p>
                <div style="background-color:whitesmoke; padding:10px">
                    <h3>Negocios Grandes</h3>
                    <p>Tu propia pagina optimizada</p>
                    <h2>$79.99/m</h2>
                    <ul class="perks">
                        <li>Anuncios ilimitados en cualquier categoria.<</li>
                        <li>Anuncio publicado en website y app</li>
                        <li>Diseno incluido (si no tienes)</li>
                        <li></li>
                    </ul>
                    <hr />
                    <ul class="disclaimers">
                        <li><h4>Beneficios extras</h4></li>
                        <li>Herramientas de retencion de clientes</li>
                        <li>Ayuda profesional cuando la necesites</li>
                        <li>Accesso a nuestros widgets</li>
                    </ul>
                    <hr />
                    <ul class="disclaimers">
                        <li>No cargos adicionales</li>
                        <li>No contrato requerido</li>
                        <li>Cambia de plans cuando quieras</li>
                        <li>30-dias gratis</li>
                    </ul>
                    <p><button class="btn btn-lg btn-warning">COMIENZA MIS 30-DIAS <br />GRATIS</button></p>
                </div> 
                <p>&nbsp;</p>               
            </div>
            <div class="col-md-4" style="background-color: rgb(2, 134, 186);">
                <p style="background-color: #005F84;">&nbsp;</p>
                <div style="background-color: rgb(2, 134, 186); color: #fff; padding:10px">
                    <h3>Negocios mediano</h3>
                    <p>Tu propia pagina optimizada</p>
                    <h2>$49.99/m</h2>
                    <!-- perks-->
                    <ul class="perks">
                        <li>5 anuncio en cualquier categoria.</li>
                        <li>Anuncio publicado en website y app</li>
                        <li>Diseno incluido (si no tienes)</li>
                        <li></li>
                    </ul>
                    <hr />
                    <ul class="disclaimers">
                        <li><h4>Beneficios extras</h4></li>
                        <li>Herramientas de retencion de clientes</li>
                        <li>Ayuda profesional cuando la necesites</li>
                        <li>-</li>
                    </ul>
                    <!--disclaimers -->
                    <hr />
                    <ul class="disclaimers">
                        <li>No cargos adicionales</li>
                        <li>No contrato requerido</li>
                        <li>Cambia de plans cuando quieras</li>
                        <li>30-dias gratis</li>
                    </ul>
                    <p><button class="btn btn-lg btn-warning">COMIENZA MIS 30-DIAS <br />GRATIS</button></p>
                </div>
                <p>&nbsp;</p>
            </div>
            <div class="col-md-4">
                <p>&nbsp;</p>
                <div style="background-color:whitesmoke; padding:10px">
                    <!--style="border:1px solid silver"-->
                    <h3>Individual</h3>
                    <p>Tu propia pagina optimizada</p>
                    <h2>$34.99/m</h2>
                    <ul class="perks">
                        <li>1 anuncio en cualquier categoria.</li>
                        <li>Anuncio publicado en website y app</li>
                        <li>-</li>
                        <li></li>
                    </ul>
                    <hr />
                    <ul class="disclaimers">
                        <li><h4>-</h4></li>
                        <li>-</li>
                        <li>-</li>
                        <li>-</li>
                    </ul>
                    <hr />
                    <ul class="disclaimers">
                        <li>No cargos adicionales</li>
                        <li>No contrato requerido</li>
                        <li>Cambia de plans cuando quieras</li>
                        <li>30-dias gratis</li>
                    </ul>
                    <p><button class="btn btn-lg btn-warning">COMIENZA MIS 30-DIAS <br />GRATIS</button></p>
                </div>
                <p>&nbsp;</p>
            </div>
        </div>   
        <p>&nbsp;</p>
        <div class="row jumbotron">
            <p style="font-size:16px">
                * Tu targeta de credito no sera cargada hasta el final de tus 30 dias gratis. <br />
                 No contrato requerido. Cancela o cambiate de plan cuando quieras.
            </p>
        </div>          
    </div>
<div style="background-color:#ECECEC;">
    <div class="container">
        <div class="row">
            <h3>Tienes preguntas?</h3>
            <p>&nbsp;</p>
        <div class="col-md-6">
            <p><strong>Que es un anuncio optimiado?</strong></p>
            <p>Duis tristique urna eros, vel posuere quam lacinia nec. Sed non mauris eget neque blandit facilisis id non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sem purus, consequat in pharetra quis, imperdiet et nisi. Morbi rhoncus magna sed mi congue rutrum.</p>
            <p>&nbsp;</p>
            <p><strong>Que son herramientas de retencion de clientes?</strong></p>
            <p>Duis tristique urna eros, vel posuere quam lacinia nec. Sed non mauris eget neque blandit facilisis id non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sem purus, consequat in pharetra quis, imperdiet et nisi. Morbi rhoncus magna sed mi congue rutrum.</p>
            <p>&nbsp;</p>
            <p><strong>Que es un diseno incluido?</strong></p>
            <p>Duis tristique urna eros, vel posuere quam lacinia nec. Sed non mauris eget neque blandit facilisis id non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sem purus, consequat in pharetra quis, imperdiet et nisi. Morbi rhoncus magna sed mi congue rutrum.</p>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-6">
            <p><strong>Que clase de ayuda profesional recivire?</strong></p>
            <p>Duis tristique urna eros, vel posuere quam lacinia nec. Sed non mauris eget neque blandit facilisis id non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sem purus, consequat in pharetra quis, imperdiet et nisi. Morbi rhoncus magna sed mi congue rutrum.</p>
            <p>&nbsp;</p>
            <p><strong>Como funcionan los 30 dias gratis?</strong></p>
            <p>Duis tristique urna eros, vel posuere quam lacinia nec. Sed non mauris eget neque blandit facilisis id non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sem purus, consequat in pharetra quis, imperdiet et nisi. Morbi rhoncus magna sed mi congue rutrum.</p>
            <p>&nbsp;</p>
            <p><strong>Que es un widget?</strong></p>
            <p>Duis tristique urna eros, vel posuere quam lacinia nec. Sed non mauris eget neque blandit facilisis id non eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed sem purus, consequat in pharetra quis, imperdiet et nisi. Morbi rhoncus magna sed mi congue rutrum.</p>
            <p>&nbsp;</p>
        </div>
    </div> 
    </div>  
</div>